.text-tagline {
  font-size: 15px;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem !important;
  color: #005796 !important;
}
.text-theme {
  color: #005796 !important;
}
.card-detail {
  font-size: 13px;
  font-weight: 500;
}

.customlable.check {
  cursor: pointer;
  width: 90%;
}

.customlable.check input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

.customlable.check span {
  padding: 4px 8px;
  background-color: #0092fb26;
  display: inline-block;
  color: #000;
  font-weight: 500;
  border-radius: 3px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.customlable.check input:checked + span {
  border-color: #005796;
  background-color: #00518c;
  color: #fff;
}

.filter-btn li {
  width: 50%;
}

.backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #005796;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.backToTop:hover {
  background-color: #555;
}
